/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fce4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff4081;
    font-size: 3em;
    margin-bottom: 10px;
}

.message {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #555;
}

.interactive-buttons button {
    background-color: #ff4081;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.interactive-buttons button:hover {
    background-color: #f50057;
}

.confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    pointer-events: none;
    z-index: 1000;
}

.confetti span {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff4081;
    opacity: 0.8;
    animation: confetti 2s linear infinite;
}

@keyframes confetti {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(360deg); }
}

.money-message {
    font-size: 1.5em;
    margin-top: 20px;
    color: #4caf50;
    display: none;
}